.header {
    background-color: #7dc4d6;
    display: relative;
    padding: 25px 80px;
}

.Nancy {
    background-color: rgb(240, 128, 128);
}

.Liz {
    background-color: rgb(219, 145, 76);
}

.Yvette {
    background-color: rgb(212, 99, 179);
}

.Bill {
    background-color: rgb(44, 209, 118);
}

.header-text {
    display: inline-block;
    margin: 0;
}

.add-button {
    padding: 10px 20px;
    position: absolute;
    right: 80px;
    top: 16px;
}

.gradient-wrapper {
    background: linear-gradient(to bottom, #2193b0, #6dd5ed);
    height: 100vh;
    padding: 70px;
    position: relative;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 800px;
}

.title {
    color: rgb(23, 95, 95);
    font-size: 85px;
    letter-spacing: -3px;
    margin: 0;
}
.intro {
    color: white;
    color: rgb(194, 227, 238);
    font-size: 19px;
    font-weight: 100;
    margin: 0;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 0;
}

.person img {
    border: 8px white solid;
}

.name {
    color: white;
    margin: 5px 0 60px 0;
}

.footer {
    color: rgb(20, 92, 92);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 6px;
    text-transform: uppercase;
}
